:root {
  background-color:rgb(71, 116, 71);
}
:root {
  --primary-color: #7dc480;  
  --secondary-color: #FFFFFF; 
  --tertiary-color: #F1F1F1;
  --text-color: #333333;     
}

body {
  background-color: var(--tertiary-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

.btn-success {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-success:hover {
  background-color: #45A049; 
}

.navbar {
  background-color: var(--primary-color);
}


.card {
  border: 1px solid var(--tertiary-color);
  background-color: var(--secondary-color);
}

.card-title {
  color: var(--primary-color);
}

.card-text {
  color: var(--text-color);
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px;
  text-align: center;
}

